.top__section {
    align-items: center;
    background: var(--blue-color-3);
    display: flex;
    gap: 2px;
    text-align: center;
    right: 30px;
    padding: 0 1rem;
    top: 64px;
    white-space: nowrap;
    overflow: scroll;
    margin-bottom: 20px;
    width: 100%;
}

.top__item {
    background: var(--white-color);
    border-radius: 6px;
    cursor: pointer;
    color: var(--gray-color);
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 0.2rem;
}

.top__item:hover {
    background: var(--blue-color-1);
    color: var(--white-color);
}